doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Contacts
        a(href="/forms") update contacts
        table 
            thead 
                th Nombre
                th Correo
            tbody 
                each contact in data
                    tr 
                        td.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
                        td.card__email #{contact.properties.email}